<footer class="footer">
  <div>{% include social.html %}</div>
  <div class="footer_div">
    <br>&copy; <span class="copyright">Juby</span> 2015-{{ site.time | date: '%Y' }}<br><br>
    The site has been running for <span id="runtime"></span> silently.
  </div>
</footer>