<figure class="post-figure">
  <a href="//cdn.statically.io/gl/jubyshu/rosemary/master/image/{{ include.url }}" data-fancybox="images" data-caption="{{ include.caption }}">
    <img class="post-img" src="//cdn.statically.io/gl/jubyshu/rosemary/master/image/{{ include.url }}" alt="{{ include.caption }}">
  </a>
  <figcaption class="post-figcaption">{{ include.caption }}</figcaption>
</figure>