<script src="/assets/js/main.js"></script>
{% if page.layout == 'post' %}
<script src="//cdn.statically.io/gl/jubyshu/nagisaao/master/assets/js/prism.js"></script>
<script async src="//cdn.jsdelivr.net/npm/flowchart.js@1.11.3/release/flowchart.min.js"></script>
<script src="//cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.2/dist/jquery.fancybox.min.js"></script>
<script async src="//cdn.jsdelivr.net/npm/mathjax@2.7.5/MathJax.js?config=TeX-MML-AM_CHTML"></script>
{% endif %}
<!-- Google Analytics -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-112090731-1', 'auto');
  ga('send', 'pageview');
</script>