$aonibi: #535953;         // 青钝
$ro: #0C0C0C;             // 吕
$aimirucha: #0F4C3A;      // 蓝海松茶
$ginnezumi: #91989F;      // 银鼠
$seiheki: #268785;        // 青碧
$aisumicha: #373C38;      // 蓝黑茶
$ai: #0D5661;            // 蓝
$tobi: #724832;           // 鳶

$link-color: $aimirucha;
$sub-link-color: $tobi;
$hover-color: $seiheki;
$border-color: #e1e1e1;
$font-color: $ro;
$sub-font-color: $aonibi;
$background-color: #eef5f6;
$meta-color: $ginnezumi;
$title-color: $aisumicha;

$source-serif: "PT Serif", "Source Han Serif SC", "Source Han Serif CN", "Source Han Serif", "source-han-serif-sc", "Noto Serif", "Noto Serif SC", "Noto Serif JP", serif;
$heiti-sans: "PT Sans", "Source Han Sans SC", "Source Han Sans CN", "Source Han Sans", "Noto Sans", "Noto Sans SC", "Noto Sans JP", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", STHeiti, "WenQuanYi Micro Hei", SimHei, sans-serif;
$body-font: $heiti-sans;
$quote-font: $source-serif;

@mixin div-middle {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

@mixin rotate-circle {
  transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -o-transform: rotate(360deg);
}