// pager
.post-container {
  margin-top: 20px;

}

.pager {
  margin-top: 20px;

  a {
    width: 100%;
    padding: 10px 10px;
    color: $meta-color;

    >span {
      padding: 10px 0;
    }

    &:hover>span,
    &:focus>span {
      color: $hover-color;
    }
  }
}

.next {
  float: right;
  margin-top: 20px;
}

.previous {
  float: left;
  margin-top: 20px;
}

// post
.post-comments {
  border-top: 1px solid $border-color;
  padding: 80px 0 0;
}

.post-meta {
  margin: 0 0 1.8em 0;
  color: $meta-color;
  font-size: 0.9em;
}

.post {
  img {
    cursor: pointer;
    max-width: 100%;
    margin: 1em auto;
    border-radius: 3px;
    text-align: center;
    display: block;
  }

  pre {
    width: auto;
    overflow: auto;
  }

  hr {
    margin: 1em auto;
    border-top: 1px solid $border-color;
  }
}

.post.not_page,
.post-tags {
  hr {
    margin: 1em auto;
    border-top: 1.8px dashed $sub-link-color;
  }

  a {
    color: $sub-link-color;
    border-bottom: 1px solid $hover-color;

    &:hover {
      color: $hover-color;
    }
  }

  h3 {
    padding-bottom: 5px;
    margin-top: 1.5em;
    border-bottom: 1px solid #ececec;
  }

  h3,
  h4 {
    margin-bottom: 1em;
  }
}

// panel
.panel-title {
  margin: 20px 0 10px 0;
  font-size: 1.8em;
  letter-spacing: 3px;
  color: #FFF;
}

.panel-cover {
  display: block;
  position: relative;
  z-index: 900;
  width: 100%;
  max-width: 780px;
  margin: auto;

  .cover-navigation {
    color: $sub-font-color;
    margin: 10px auto;
    border-bottom: 1px solid $border-color;
  }
}

.panel-description {
  font-size: 0.9em;
  font-weight: normal;
}

.panel-main {
  display: table;
  width: 100%;
  height: 180px;
  background: url("//cdn.statically.io/gl/jubyshu/nagisaao/master/images/cover.jpg");
  background-position: center center;
}

.panel-main__inner {
  display: table-cell;
  vertical-align: middle;
  position: relative;
  z-index: 800;
  padding: 0 0;
  font-weight: 100;
  text-align: center;
  margin: 0 auto;
  color: $sub-font-color;
  background-color: rgba(250, 250, 250, 0.3);

  a {
    color: $title-color;
  }
}

// navigation & button
.cover-navigation {
  margin-top: 0px;
  width: 100%;
}

.btn a {
  display: block;
  text-align: left;
  margin-left: 10px;
  margin-right: 10px;
  font-size: .4em;
  color: $sub-font-color;
  border-bottom: 0.1px solid $border-color;
  text-shadow: none;
}

nav {
  display: inline-block;
  position: relative;
}

.navigation {
  display: inline-block;
  position: relative;
  margin: 0;
  text-align: center;
  width: 100%;
  list-style-type: none;
  letter-spacing: 1px;
}

.btn,
.navigation__item a {
  display: inline-block;
  margin-right: 0px;
  padding: 5px 0;
  font-size: 0.9em;
  text-shadow: none;
  color: $sub-font-color;
}

.navigation__item {
  display: inline-block;
  margin: 5px;
  line-height: 1em;

  &:hover {
    background: $hover-color;
    border-radius: 15px;
    padding: 0 10px;

    a {
      color: #fff;
    }
  }

  a {
    display: inline-block;
    position: relative;
    width: 100%;
  }
}

.navigation__item_social {
  display: inline-block;
  margin: auto;

  a {
    position: relative;
  }

  img:hover {
    background: #fff;
    border-radius: 50%;
  }
}

.navigation--social {
  margin-top: .5em;

  a {
    border: 0px;
    padding: 5px;

    .label {
      display: none;
    }

    .icon {
      display: inline-block;
      font-size: .5em;
    }
  }
}

// pagination
.pagination {
  display: block;
  margin: 0 0 2em 0;
  text-align: center;
}

.btn,
.pagination__page-number {
  margin: 0;
  font-size: .8em;
  color: $sub-font-color;
}

.pagination__newer {
  margin-right: 1em;
}

.pagination__older {
  margin-left: 1em;
}

i {
  font-family: 'entypo';
  font-weight: normal;
  font-style: normal;
  font-size: 18px;
}

.social {
  font-size: 22px;
}

.icon-social {
  font-family: 'entypo-social';
  font-size: 22px;
  display: block;
  position: relative;
}

// post-list
.post-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: left;
  display: inline-block;

  li {
    margin: 0 0 2.2em 0;
    float: left;
  }

  &:first-child {
    margin-top: 20px;
  }
}

.post-list__title {
  margin-top: 5px;
  margin-bottom: .2em;
  font-size: 1.4em;
  line-height: 1.3em;

  a {
    color: #333;
    padding-top: 5px;

    &:hover {
      color: $hover-color;
    }
  }
}

.post-list__meta {
  margin: 0;
  display: inline-block;
}

.post-list__date {
  background-size: 100% 100%;
  color: $meta-color;
  float: left;
  font-size: 0.8em;

  &:hover {
    text-decoration: underline;
  }
}

.post-list_divider {
  margin: 10px 0;
  border-top: 1px solid $border-color;
}

*:focus {
  outline: none;
}
